hr {
  height: 0.25rem;
  width: 16.66%;
  margin: 0;
  background: #ffc59b;
  border: none;
  transition: 0.3s ease-in-out;
}
.one.active ~ hr {
  margin-left: 0%;
}
.two.active ~ hr {
  margin-left: 16.66%;
}
.three.active ~ hr {
  margin-left: 33.32%;
}
.four.active ~ hr {
  margin-left: 50%;
}
.five.active ~ hr {
  margin-left: 66.64%;
}
.six.active ~ hr {
  margin-left: 83.33%;
}

.one:hover ~ hr {
  margin-left: 0% !important;
}
.two:hover ~ hr {
  margin-left: 16.66% !important;
}
.three:hover ~ hr {
  margin-left: 33.32% !important;
}
.four:hover ~ hr {
  margin-left: 50% !important;
}
.five:hover ~ hr {
  margin-left: 66.64% !important;
}
.six:hover ~ hr {
  margin-left: 83.33% !important;
}

link,
link:active,
link:focus {
  outline: none;
}
