hr {
  height: 0.25rem;
  width: 25%;
  margin: 0;
  background: #ffc59b;
  border: none;
  transition: 0.3s ease-in-out;
}
.one.active ~ hr {
  margin-left: 0%;
}
.two.active ~ hr {
  margin-left: 25%;
}
.three.active ~ hr {
  margin-left: 50%;
}
.four.active ~ hr {
  margin-left: 75%;
}
.one:hover ~ hr {
  margin-left: 0% !important;
}
.two:hover ~ hr {
  margin-left: 25% !important;
}
.three:hover ~ hr {
  margin-left: 50% !important;
}
.four:hover ~ hr {
  margin-left: 75% !important;
}

link,
link:active,
link:focus {
  outline: none;
}
